@font-face {
  font-family: "Frutiger";
  src: url("../fonts/FrutigerLTArabic-45Light.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-45Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/FrutigerLTArabic-55Roman.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-55Roman.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/FrutigerLTArabic-65Bold.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Frutiger";
  src: url("../fonts/FrutigerLTArabic-75Black.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-75Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
