.services_page {
  background-color: $color_1;
  padding: 30px 0 100px;
  .nav-tabs {
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
    margin: 0 30px 40px;
  }
}
.anc_service_order_ {
  width: 180px;
  height: 180px;
  font-size: 16px;
  border-radius: 50%;
  text-transform: capitalize;
  color: #221e1f;
  margin: 0 25px 30px;
  transition: 0.3s;
  img {
    transition: 0;
    filter: invert(21%) sepia(65%) saturate(7056%) hue-rotate(344deg)
      brightness(91%) contrast(94%);
  }
  &:hover {
    color: $color_1;

    background-color: $red_color;
    img {
      filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(302deg)
        brightness(105%) contrast(105%);
    }
  }
  filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.1));
  background-color: #ffffff;
  border: 1px solid #ededed;
  @include flex_var(flex, center, center);
  flex-direction: column;
  .div_img {
    width: 54px;
    @include flex_var(flex, center, center);
    margin-bottom: 10px;
    height: 50px;
  }

  span {
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    height: 48px;
    @include en {
      font-size: 14px;
      height: 29px;
    }
  }
}

@include min_xs {
  .content_service {
    width: 80%;
  }
  .content_service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}
@include xs {
  .anc_service_order_ {
    margin: auto;
  }
  .services_page {
    .nav-tabs {
      padding: 0 10px 40px;
      flex-direction: column;
      margin: 0;
    }
    .nav-tabs {
      margin-bottom: 20px;
    }
  }
  .tab-content > .active {
    padding: 0;
  }
  .content_order-parant {
    padding-bottom: 50px;

    .owl-dots {
      bottom: -30px;
    }
  }
}
.group_form {
  position: relative;
}
.angle-form {
  font-size: 10px;
  color: #c0c0c0;
  position: absolute;
  bottom: 16px;
  z-index: 11;
  inset-inline-end: 20px;
}
.order_services {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 650px;
  max-width: 100%;
  z-index: 100;
  display: none;
  text-align: start;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  form {
    width: 420px;
    margin: auto;
    max-width: 100%;
    padding: 0;
    .group_form {
      margin-bottom: 10px;
    }
    textarea {
      min-height: 90px;
    }
  }
  .form-submit {
    width: 100%;
  }
}
.close_order {
  font-size: 15px;
  position: absolute;
  top: 20px;
  inset-inline-end: 20px;
  color: #b0a9ab;
}
.order-services-popup {
  padding: 50px 40px;
  background-color: $color_1;
  position: relative;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
}
.title_order-services {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #231f20;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.anc_order_service {
  font-size: 15px;
  line-height: 24px;
  text-decoration: underline;
  color: #e21a34;
  text-align: center;
  margin-bottom: 20px;

  display: block;
  &:hover {
    color: #e21a34;
  }
}
@include xs {
  .services_page {
    padding: 30px 10 0px;
  }
  .order-services-popup {
    height: 90vh;
    padding: 50px 0;
    form {
      width: 100%;
      padding: 0 10px;
    }
  }
}
